<div class="row">
    <div class="col-md-12">
        <% if(typeof sitename == 'undefined'){ %>
            <h2>
                <%= name %>
                <small>
                    <% if(level == 0) { %>Country<% } else { %>Nuts <%= level %><% } %>
                </small>
            </h2>
            <p>
                <% if(level > 0 & name0) { %><%= name0 %><% } %>
                <% if(level > 1 & name1) { %>- <%= name1 %><% } %>
                <% if(level > 2 & name2) { %>- <%= name2 %><% } %>
            </p>
            <p class="base-info"></p>
        <% } else { %>
            <h2><%= sitename %> <span class="small"><%= sitecode %></span></h2>
            <p><%= sitetype %>, <%= country %></p>
        <% } %>
    </div>
</div>
<% if(covers.length) { %>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Protected Area in km2<div class="graph-toggle pull-right"><span class="glyphicon glyphicon-dashboard"></span></div></div>
            <div class="panel-body">
                <div class="doughnuts">
                    <div class="col-sm-3">
                        <h4>1990</h4>
                        <canvas id="chart-1990"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h4>2000</h4>
                        <canvas id="chart-2000"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h4>2006</h4>
                        <canvas id="chart-2006"></canvas>
                    </div>
                    <div class="col-sm-3">
                        <h4>2012</h4>
                        <canvas id="chart-2012"></canvas>
                    </div>
                </div>
                <div class="bars">
                    <canvas id="barchart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Maps</div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <h4>1990</h4>
                    <div id="map-1990" class="map"></div>
                </div>
                <div class="col-sm-3">
                    <h4>2000</h4>
                    <div id="map-2000" class="map"></div>
                </div>
                <div class="col-sm-3">
                    <h4>2006</h4>
                    <div id="map-2006" class="map"></div>
                </div>
                <div class="col-sm-3">
                    <h4>2012</h4>
                    <div id="map-2012" class="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading sankey-title-2012">Changes 2006-2012</div>
            <div class="panel-body sankey sankey-2012">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading sankey-title-2006">Changes 2000-2006</div>
            <div class="panel-body sankey sankey-2006">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading sankey-title-2000">Changes 1990-2000</div>
            <div class="panel-body sankey sankey-2000">
            </div>
        </div>
    </div>
</div>
<% } else {  %>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">No Land Cover Information Found</div>
            <div class="panel-body">
                <p>There was no intersection of this protected area with the Corine Land cover.</p>
            </div>
        </div>
    </div>
</div>
<% } %>
<% if(typeof natura2000 != 'undefined'){ %>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Additional Information</div>
                <div class="panel-body">
                    <% if(natura2000.designation){ %>
                    <h4>Designation</h4>
                    <p><%= natura2000.designation %></p>
                    <% } %>
                    <% if(natura2000.othercharact){ %>
                    <h4>Characterization</h4>
                    <p><%= natura2000.othercharact %></p>
                    <% } %>
                    <% if(natura2000.quality){ %>
                    <h4>Quality</h4>
                    <p><%= natura2000.quality %></p>
                    <% } %>
                    <% if(natura2000.documentation){ %>
                    <h4>Documentation</h4>
                    <p><%= natura2000.documentation %></p>
                    <% } %>
                    <% if(management.org_name){ %>
                    <h4>Management</h4>
                    <p>Organization: <%= management.org_name %></p>
                    <p>E-mail: <a href="mailto:<%= management.org_email %>?Subject=Natura2000%20Conservation%20Area%20<%= sitecode %>"</a><%= management.org_email %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">List of Natura 2000 Sites for this region</div>-->
                <!--<div class="panel-body">-->
                    <!--Placeholder - paginated list of sites.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<% } %>
