<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading sankey-title"></div>
        <div class="panel-body">
            <canvas class="chart"></canvas>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="map"></div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default sankey-panel">
        <div class="sankey"></div>
    </div>
</div>
