<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="year-chart-wrap">
                <div class="col-xs-8 col-sm-12">
                    <canvas class="chart"></canvas>
                </div>
                <div class="col-xs-4 col-sm-12">
                    <h4 class="percentage text-center"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="map"></div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default sankey-panel">
        <div class="sankey"></div>
    </div>
</div>
