<div class="row">
    <div class="col-md-12">
        <% if(typeof sitename == 'undefined'){ %>
            <h2>
                <%= name %>
                <small>
                    <% if(level == 0) { %>Country<% } else { %>Nuts <%= level %><% } %>
                </small>
            </h2>
            <p>
                <% if(level > 0 & name0) { %><%= name0 %><% } %>
                <% if(level > 1 & name1) { %>- <%= name1 %><% } %>
                <% if(level > 2 & name2) { %>- <%= name2 %><% } %>
            </p>
            <p class="base-info"></p>
        <% } else { %>
            <h2><%= sitename %> <span class="small"><%= sitecode %></span></h2>
            <p>
                <%= sitetype %> site. Was added on <%= natura2000.date_compilation.substr(0, 10) %>,
                has an area of <%= Math.round(natura2000.areaha / 100) %> km2, and is located in <%= country %>.
            </p>
        <% } %>
        <hr>
    </div>
</div>
<% if(covers.length) { %>
<div class="row year-region"></div>
<div class="row row-year row-all">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Protected Area in km2</div>
            <div class="panel-body">
                <div class="bars">
                    <canvas id="barchart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<% } else {  %>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">No Land Cover Information Found</div>
            <div class="panel-body">
                <p>There was no intersection of this protected area with the Corine Land cover.</p>
            </div>
        </div>
    </div>
</div>
<% } %>
<% if(typeof natura2000 != 'undefined'){ %>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Additional Information</div>
                <div class="panel-body">
                    <% if(natura2000.designation){ %>
                    <h4>Designation</h4>
                    <p><%= natura2000.designation %></p>
                    <% } %>
                    <% if(natura2000.othercharact){ %>
                    <h4>Characterization</h4>
                    <p><%= natura2000.othercharact %></p>
                    <% } %>
                    <% if(natura2000.quality){ %>
                    <h4>Quality</h4>
                    <p><%= natura2000.quality %></p>
                    <% } %>
                    <% if(natura2000.documentation){ %>
                    <h4>Documentation</h4>
                    <p><%= natura2000.documentation %></p>
                    <% } %>
                    <% if(management.org_name){ %>
                    <h4>Management</h4>
                    <p>Organization: <%= management.org_name %></p>
                    <p>E-mail: <a href="mailto:<%= management.org_email %>?Subject=Natura2000%20Conservation%20Area%20<%= sitecode %>"</a><%= management.org_email %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">List of Natura 2000 Sites for this region</div>-->
                <!--<div class="panel-body">-->
                    <!--Placeholder - paginated list of sites.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<% } %>
