# backups
*.swp

# python stuff
*.pyc

# osx files
.DS_Store

# sass cache
.sass-cache

# Built app
*dist.js

# sql lite stuff
*.db

# Ignore node files
node_modules

# Ignore bower files
frontend/components

# Docs build
docs/_build
