#menuregion {
    margin-top: 48px;
    display: hidden;
    right: 0px;
    background-color: white;
    z-index: 9999;
    .btn-group {
        width: 100%;
    }
    .legend-colorbox {
        margin-right: 10px;
    }
    .years, .levels {
        margin-bottom: 15px;
    }
    .list-group-item.active {
        background-color: #FFF;
        color: #CCC;
        border-color: #EEE;
        .legend-colorbox {
            background-color: #EEE !important;
        }
        &:hover{
            background-color: #f5f5f5;
        }
    }
    .menu-layout {
        background-color: white;
        border-top: none;
        padding-top: 15px;
        z-index: 99999;
    }
    &.menu-explorer {
        position: fixed;
        max-height: 100%;
        overflow: auto;
        padding-left: 0px;
        padding-right: 0px;
        .context-map {
            display: none;
        }
    }
    .context-map {
        height: 200px;
    }
}
#menu-main {
    border-top: none;
}
