#menuregion {
    background-color: white;
    max-height: 100%;
    overflow: auto;
    padding-top: 20px;
    .btn-group {
        width: 100%;
    }
    .legend-colorbox {
        margin-right: 10px;
    }
    .years, .levels {
        margin-bottom: 15px;
    }
}
