<div id="content" class="container">
    <div class="page-header" id="banner" style="background: url('<%= STATIC_URL %>images/natura2000.png') no-repeat fixed center;">
        <div class="row">
            <div class="col-sm-12">
                <h1>Change Explorer</h1>
                <p class="lead">Corine Landcover Change in Natura 2000 Preserved Areas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" style="padding: 50px 0px;">
                <a href="#map" class="btn btn-success" type="submit">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Proposal</h2>
            <p>
            We propose the development of a web-based application where users can explore land cover
            change in protected areas across Europe. The application will quantify the current status and
            historical change in land cover within Europe's natural reserves. An intuitive interface with
            interactive graphs and maps will make this information understandable for everyone.
            </p>
            <p>
            The goal is to provide information about what changes occurred within Europe's preserved
            areas and what their current state is. Over the last two decades Europe has grown one of the
            largest network of nature reserves in the world, protecting about 18% of land in EU countries.
            However, not all areas have management plans and there might be differences in enforcement
            of protection. The proposed application will provide important information to understand the
            dynamics within the protected areas and their surroundings.
            </p>
        </div>
    </div>
</div>
