<div class="page-header" id="banner">
    <div class="row">
        <div class="col-sm-12">
            <h2>Protected Area Change Explorer</h2>
            <p class="lead">Observe Corine Landcover Change in Natura 2000 Preserved Areas</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="search-container"></div>

            <p>or</p>

            <a class="btn btn-success navigate-explorer" type="submit">Explore on Map</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>Natura 2000</h2>
        <p>
        Over the last two decades Europe has grown one of the largest network of nature reserves in the world,
        protecting about 18% of land in EU countries. This network of protected areas is called 
        <a href="http://ec.europa.eu/environment/nature/natura2000/">Natura 2000</a>. With Protar, we invite you to
        explore the current status and historical change in land cover in these areas. 
        </p>
    </div>
    <div class="col-sm-4"><img src="<%= STATIC_URL %>images/Natura_2000_logo.png" alt="Nat2000 Image" class="img-rounded landing-img"></div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4"><img src="<%= STATIC_URL %>images/Corine_land_cover_2000.png" alt="CLC Image" class="img-rounded landing-img"></div>
    <div class="col-sm-8">
        <h2>Corine Land Cover</h2>
        <p>
        The <a href="https://wiki.openstreetmap.org/wiki/Corine_Land_Cover">Corine Land Cover Dataset</a>
        is a map that describes the land cover for all of Europe in an unified framework.
        It describes what currently is located in any given area for most of Europe for four points in time: 1990,
        2000, 2006, and 2012. We used this comprehensive dataset to calculate current and historic conditions of
        the Natura 2000 protected areas.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-8">
        <h2>MyGeoss</h2>
        <p>
        This application has been developed within the
        <a href="http://digitalearthlab.jrc.ec.europa.eu/mygeoss/" target="_blank">MyGeoss</a> project, which has
        received funding from the European Union’s Horizon 2020 research and innovation programme.
        Under the MyGeoss project, a series of web and mobile applications are being developed, all of which
        are based on large scale geographic data. The increased avilability of data from the Global Earth
        Observation System of Systems (GEOSS) project, has motivated a call to encourage use of open data.
        
        Protar is one of the winners of the second call of that project. It is an open source and opend data
        application. For more information about the technical background of this application, visit the 
        <a href="https://protar.readthedocs.org">Protar documentation</a>.
        </p>
    </div>
    <div class="col-sm-4"><img src="<%= STATIC_URL %>images/mygeoss.png" alt="MyGeoss Logo" class="img-rounded center-block"></div>
</div>


<div class="row">
    <div class="col-sm-12 landing-footer">
        <hr>
        <div><img src="<%= STATIC_URL %>images/ec_logo.gif" alt="JRC Logo" class="center-block ec-logo"><div>
        <p class="text-center"><small>&copy 2016 European Comission.</small></p>
    </div>
</div>
