<div id="content" class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-sm-12">
                <h1>Change Explorer</h1>
                <p class="lead">Corine Landcover Change in Natura 2000 Preserved Areas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control typeahead" placeholder="Type to search protected Areas">

                <p>or</p>

                <a href="#map" class="btn btn-success" type="submit">Explore on Map</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>Natura 2000</h2>
            <p>
            A paragraph about natura 2000.

            We propose the development of a web-based application where users can explore land cover
            change in protected areas across Europe. The application will quantify the current status and
            historical change in land cover within Europe's natural reserves. An intuitive interface with
            interactive graphs and maps will make this information understandable for everyone.
            </p>
        </div>
        <div class="col-sm-4"><img src="<%= STATIC_URL %>images/Natura_2000_logo.png" alt="Nat2000 Image" class="img-rounded landing-img"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4"><img src="<%= STATIC_URL %>images/Corine_land_cover_2000.png" alt="CLC Image" class="img-rounded landing-img"></div>
        <div class="col-sm-8">
            <h2>Corine Land Cover</h2>
            <p>
            A paragraph about Corine Land Cover.

            We propose the development of a web-based application where users can explore land cover
            change in protected areas across Europe. The application will quantify the current status and
            historical change in land cover within Europe's natural reserves. An intuitive interface with
            interactive graphs and maps will make this information understandable for everyone.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>MyGeoss</h2>
            <p>
            A paragraph about <a href="http://digitalearthlab.jrc.ec.europa.eu/mygeoss/call.cfm" target="_blank">MyGeoss</a>.

            We propose the development of a web-based application where users can explore land cover
            change in protected areas across Europe. The application will quantify the current status and
            historical change in land cover within Europe's natural reserves. An intuitive interface with
            interactive graphs and maps will make this information understandable for everyone.
            </p>
        </div>
    </div>
</div>
