<div class="navbar-collapse collapse" id="menu-main">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified years" role="group">
                <a type="button" class="btn btn-default" data-year="1990">1990</a>
                <a type="button" class="btn btn-default" data-year="2000">2000</a>
                <a type="button" class="btn btn-default" data-year="2006">2006</a>
                <a type="button" class="btn btn-default active" data-year="2012">2012</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified levels" role="group">
                <a type="button" class="btn btn-default active" data-level="1">L1</a>
                <a type="button" class="btn btn-default" data-level="2">L2</a>
                <a type="button" class="btn btn-default" data-level="3">L3</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="legend"></div>
        </div>
    </div>
    <div class="row hidden-sm hidden-xs">
        <div class="col-md-12">
            <div class="context-map"></div>
        </div>
    </div>
</div>
