<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Protar</a>

            <button aria-expanded="true" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a class="navigate-map" href="#map">Map</a></li>
                <li><a class="navigate-natura" href="#natura">Natura</a></li>
                <li><a class="navigate-country" href="#country">Country</a></li>
                <li><a href="http://digitalearthlab.jrc.ec.europa.eu/mygeoss/call.cfm" target="_blank">MyGeoss</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="">This is a Design Stage Mockup</a></li>
            </ul>
        </div>
    </div>
</div>
