<!doctype html>
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Change Explorer - Mockup</title>
    <meta name="description" content="Corine Land Cover Change explorer for Natura 2000 sites.">

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}components/leaflet/dist/leaflet.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}less/swatchmaker.less" type="text/less"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}less/base.less" type="text/less"/>
    {% endcompress css %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div id="navbarregion"></div>
    <div id="appregion" class="container fill"></div>

    {% compress js %}
        <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
        {% if debug %}
            <script data-main="{{ STATIC_URL }}js/protar/main" src="{{ STATIC_URL }}components/requirejs/require.js"></script>
        {% else %}
            <script src="{{ STATIC_URL }}components/requirejs/require.js"></script>
            <script src="{{ STATIC_URL }}js/dist.js"></script>
        {% endif %}
    {% endcompress %}
</body>
</html>
